--
-- PostgreSQL database dump
--

\restrict 8dAaxO5mu2dct0cGIHr4gXQmGycKtBgQWNhJHkcjDruHRfxTkaAuFx3jg1ufBIB

-- Dumped from database version 14.20 (Debian 14.20-1.pgdg13+1)
-- Dumped by pg_dump version 14.20 (Debian 14.20-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: booking_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booking_items (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    amount numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    booking_id bigint NOT NULL,
    rate_plan_id bigint,
    room_type_id bigint NOT NULL
);


ALTER TABLE public.booking_items OWNER TO postgres;

--
-- Name: booking_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.booking_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.booking_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookings (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    booking_reference character varying(255),
    check_in date NOT NULL,
    check_out date NOT NULL,
    guest_email character varying(255) NOT NULL,
    guest_name character varying(255) NOT NULL,
    nationality character varying(255) NOT NULL,
    guest_phone character varying(255) NOT NULL,
    payment_method character varying(255) NOT NULL,
    payment_status character varying(255) NOT NULL,
    special_request text,
    status character varying(255) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT bookings_payment_method_check CHECK (((payment_method)::text = ANY ((ARRAY['CASH'::character varying, 'VN_PAY'::character varying])::text[]))),
    CONSTRAINT bookings_payment_status_check CHECK (((payment_status)::text = ANY ((ARRAY['PENDING'::character varying, 'PAID'::character varying, 'REFUNDING'::character varying, 'REFUNDED'::character varying, 'EXPIRED'::character varying, 'FAILED'::character varying])::text[]))),
    CONSTRAINT bookings_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING_PAYMENT'::character varying, 'PENDING'::character varying, 'CONFIRMED'::character varying, 'CANCELLED'::character varying, 'COMPLETED'::character varying, 'CHECK_IN'::character varying])::text[])))
);


ALTER TABLE public.bookings OWNER TO postgres;

--
-- Name: bookings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.bookings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cancellation_policies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cancellation_policies (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    description text,
    fixed_fee numeric(10,2),
    hours_before integer,
    name character varying(255) NOT NULL,
    refund_percentage integer,
    type character varying(30) NOT NULL,
    CONSTRAINT cancellation_policies_type_check CHECK (((type)::text = ANY ((ARRAY['FREE'::character varying, 'NON_REFUNDABLE'::character varying, 'PARTIAL'::character varying])::text[])))
);


ALTER TABLE public.cancellation_policies OWNER TO postgres;

--
-- Name: cancellation_policies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cancellation_policies ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cancellation_policies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cancellations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cancellations (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    canceled_by character varying(20) NOT NULL,
    cancellation_fee numeric(10,2),
    cancellation_reason text,
    cancellation_time timestamp(6) with time zone NOT NULL,
    refund_amount numeric(10,2),
    status character varying(20) NOT NULL,
    booking_id bigint NOT NULL,
    CONSTRAINT cancellations_canceled_by_check CHECK (((canceled_by)::text = ANY ((ARRAY['GUEST'::character varying, 'ADMIN'::character varying, 'HOST'::character varying])::text[]))),
    CONSTRAINT cancellations_status_check CHECK (((status)::text = ANY ((ARRAY['COMPLETED'::character varying, 'FAILED'::character varying])::text[])))
);


ALTER TABLE public.cancellations OWNER TO postgres;

--
-- Name: cancellations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cancellations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cancellations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: check_ins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.check_ins (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    check_in_at timestamp(6) without time zone NOT NULL,
    check_out_at timestamp(6) without time zone,
    status character varying(255) NOT NULL,
    booking_id bigint NOT NULL,
    CONSTRAINT check_ins_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'CHECKED_IN'::character varying, 'CHECKED_OUT'::character varying, 'NO_SHOW'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.check_ins OWNER TO postgres;

--
-- Name: check_ins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.check_ins ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.check_ins_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: checkin_room; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checkin_room (
    checkin_id bigint NOT NULL,
    room_id bigint NOT NULL
);


ALTER TABLE public.checkin_room OWNER TO postgres;

--
-- Name: confirmation_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.confirmation_token (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    confirmed_at timestamp(6) without time zone,
    expires_at timestamp(6) without time zone NOT NULL,
    token bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.confirmation_token OWNER TO postgres;

--
-- Name: confirmation_token_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.confirmation_token ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.confirmation_token_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_hold_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_hold_details (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    inventory_hold_id bigint NOT NULL,
    room_type_id bigint NOT NULL
);


ALTER TABLE public.inventory_hold_details OWNER TO postgres;

--
-- Name: inventory_hold_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_hold_details ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_hold_details_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_holds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_holds (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    check_in timestamp(6) without time zone NOT NULL,
    check_out timestamp(6) without time zone NOT NULL,
    expires_at timestamp(6) without time zone NOT NULL,
    status character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT inventory_holds_status_check CHECK (((status)::text = ANY ((ARRAY['SOFT_LOCK'::character varying, 'HARD_LOCK'::character varying])::text[])))
);


ALTER TABLE public.inventory_holds OWNER TO postgres;

--
-- Name: inventory_holds_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_holds ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_holds_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: media; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.media (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    caption character varying(255),
    url text,
    property_id bigint
);


ALTER TABLE public.media OWNER TO postgres;

--
-- Name: media_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.media ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.media_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    amount numeric(10,2) NOT NULL,
    bank_code character varying(255),
    method character varying(255) NOT NULL,
    pay_date timestamp(6) without time zone,
    status character varying(255) NOT NULL,
    transaction_id character varying(255),
    booking_id bigint NOT NULL,
    CONSTRAINT payments_method_check CHECK (((method)::text = ANY ((ARRAY['CASH'::character varying, 'VN_PAY'::character varying])::text[]))),
    CONSTRAINT payments_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'PAID'::character varying, 'REFUNDING'::character varying, 'REFUNDED'::character varying, 'EXPIRED'::character varying, 'FAILED'::character varying])::text[])))
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.payments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: perks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.perks (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    code character varying(255),
    name character varying(255)
);


ALTER TABLE public.perks OWNER TO postgres;

--
-- Name: perks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.perks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.perks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: properties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.properties (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    city character varying(255) NOT NULL,
    country character varying(255) NOT NULL,
    district character varying(255) NOT NULL,
    full_address character varying(255),
    lat numeric(9,6),
    lng numeric(9,6),
    postal_code character varying(255),
    state character varying(255) NOT NULL,
    street_address character varying(255) NOT NULL,
    ward character varying(255) NOT NULL,
    avg_rating double precision,
    description text,
    name character varying(255) NOT NULL,
    status character varying(255),
    total_rating integer,
    type character varying(255),
    CONSTRAINT properties_status_check CHECK (((status)::text = ANY ((ARRAY['ACCEPTED'::character varying, 'REJECTED'::character varying, 'PENDING'::character varying])::text[]))),
    CONSTRAINT properties_type_check CHECK (((type)::text = ANY ((ARRAY['HOTEL'::character varying, 'HOSTEL'::character varying, 'GUESTHOUSE'::character varying, 'APARTMENT'::character varying, 'VILLA'::character varying, 'RESORT'::character varying])::text[])))
);


ALTER TABLE public.properties OWNER TO postgres;

--
-- Name: properties_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.properties ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.properties_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: property_amenities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.property_amenities (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE public.property_amenities OWNER TO postgres;

--
-- Name: property_amenities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.property_amenities ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.property_amenities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: property_amenity_mappings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.property_amenity_mappings (
    property_id bigint NOT NULL,
    amenity_id bigint NOT NULL
);


ALTER TABLE public.property_amenity_mappings OWNER TO postgres;

--
-- Name: property_facilities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.property_facilities (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE public.property_facilities OWNER TO postgres;

--
-- Name: property_facilities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.property_facilities ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.property_facilities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: property_facility_mappings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.property_facility_mappings (
    property_id bigint NOT NULL,
    facility_id bigint NOT NULL
);


ALTER TABLE public.property_facility_mappings OWNER TO postgres;

--
-- Name: rate_plan_perks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rate_plan_perks (
    rate_plan_id bigint NOT NULL,
    perk_id bigint NOT NULL
);


ALTER TABLE public.rate_plan_perks OWNER TO postgres;

--
-- Name: rate_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rate_plans (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    name character varying(255) NOT NULL,
    prepayment_type character varying(255),
    price double precision,
    cancellation_policy_id bigint,
    room_type_id bigint,
    CONSTRAINT rate_plans_prepayment_type_check CHECK (((prepayment_type)::text = ANY ((ARRAY['NONE'::character varying, 'DEPOSIT'::character varying, 'FULL_PAYMENT'::character varying, 'PERCENTAGE'::character varying])::text[])))
);


ALTER TABLE public.rate_plans OWNER TO postgres;

--
-- Name: rate_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rate_plans ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rate_plans_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    comment text,
    rating integer NOT NULL,
    property_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.reviews OWNER TO postgres;

--
-- Name: reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reviews ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reviews_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_amenities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_amenities (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE public.room_amenities OWNER TO postgres;

--
-- Name: room_amenities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.room_amenities ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_amenities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_facilities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_facilities (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE public.room_facilities OWNER TO postgres;

--
-- Name: room_facilities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.room_facilities ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_facilities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_inventory (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    available_rooms integer,
    date date,
    room_type_id bigint
);


ALTER TABLE public.room_inventory OWNER TO postgres;

--
-- Name: room_inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.room_inventory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_inventory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_type_media; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_type_media (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    url text,
    room_type_id bigint
);


ALTER TABLE public.room_type_media OWNER TO postgres;

--
-- Name: room_type_media_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.room_type_media ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_type_media_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_types (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    bed_type character varying(255),
    max_adults integer,
    max_children integer,
    max_guest integer,
    name character varying(255) NOT NULL,
    size_m2 integer,
    smoking_allowed boolean,
    total_rooms integer NOT NULL,
    view_type character varying(255),
    property_id bigint NOT NULL
);


ALTER TABLE public.room_types OWNER TO postgres;

--
-- Name: room_types_amenities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_types_amenities (
    room_type_id bigint NOT NULL,
    amenity_id bigint NOT NULL
);


ALTER TABLE public.room_types_amenities OWNER TO postgres;

--
-- Name: room_types_facilities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_types_facilities (
    room_type_id bigint NOT NULL,
    facility_id bigint NOT NULL
);


ALTER TABLE public.room_types_facilities OWNER TO postgres;

--
-- Name: room_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.room_types ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rooms (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    last_cleaned_at timestamp(6) without time zone,
    room_number character varying(255) NOT NULL,
    room_status character varying(255),
    room_type_id bigint NOT NULL,
    CONSTRAINT rooms_room_status_check CHECK (((room_status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'OCCUPIED'::character varying, 'MAINTENANCE'::character varying, 'CLEANING'::character varying])::text[])))
);


ALTER TABLE public.rooms OWNER TO postgres;

--
-- Name: rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rooms ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rooms_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    email character varying(255) NOT NULL,
    full_name character varying(255),
    is_email_verified boolean,
    is_phone_verified boolean,
    password_hash character varying(255) NOT NULL,
    phone_number character varying(255),
    provider character varying(255),
    refresh_token character varying(255),
    role character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT users_provider_check CHECK (((provider)::text = ANY ((ARRAY['GOOGLE'::character varying, 'FACEBOOK'::character varying])::text[]))),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'GUEST'::character varying, 'HOST'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'BANNED'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wishlist_properties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wishlist_properties (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    property_id bigint NOT NULL,
    wishlist_id bigint NOT NULL
);


ALTER TABLE public.wishlist_properties OWNER TO postgres;

--
-- Name: wishlist_properties_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.wishlist_properties ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wishlist_properties_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wishlists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wishlists (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    is_deleted boolean,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    user_id bigint NOT NULL
);


ALTER TABLE public.wishlists OWNER TO postgres;

--
-- Name: wishlists_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.wishlists ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wishlists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: booking_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.booking_items (id, created_at, created_by, is_deleted, updated_at, updated_by, amount, quantity, booking_id, rate_plan_id, room_type_id) FROM stdin;
\.


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookings (id, created_at, created_by, is_deleted, updated_at, updated_by, booking_reference, check_in, check_out, guest_email, guest_name, nationality, guest_phone, payment_method, payment_status, special_request, status, total_amount, user_id) FROM stdin;
\.


--
-- Data for Name: cancellation_policies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cancellation_policies (id, created_at, created_by, is_deleted, updated_at, updated_by, description, fixed_fee, hours_before, name, refund_percentage, type) FROM stdin;
\.


--
-- Data for Name: cancellations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cancellations (id, created_at, created_by, is_deleted, updated_at, updated_by, canceled_by, cancellation_fee, cancellation_reason, cancellation_time, refund_amount, status, booking_id) FROM stdin;
\.


--
-- Data for Name: check_ins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.check_ins (id, created_at, created_by, is_deleted, updated_at, updated_by, check_in_at, check_out_at, status, booking_id) FROM stdin;
\.


--
-- Data for Name: checkin_room; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.checkin_room (checkin_id, room_id) FROM stdin;
\.


--
-- Data for Name: confirmation_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.confirmation_token (id, created_at, created_by, is_deleted, updated_at, updated_by, confirmed_at, expires_at, token, user_id) FROM stdin;
\.


--
-- Data for Name: inventory_hold_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_hold_details (id, quantity, inventory_hold_id, room_type_id) FROM stdin;
\.


--
-- Data for Name: inventory_holds; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_holds (id, created_at, created_by, is_deleted, updated_at, updated_by, check_in, check_out, expires_at, status, user_id) FROM stdin;
\.


--
-- Data for Name: media; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payments (id, created_at, created_by, is_deleted, updated_at, updated_by, amount, bank_code, method, pay_date, status, transaction_id, booking_id) FROM stdin;
\.


--
-- Data for Name: perks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.perks (id, created_at, created_by, is_deleted, updated_at, updated_by, code, name) FROM stdin;
1	\N	\N	\N	\N	\N	FREE_BREAKFAST	Free Breakfast
2	\N	\N	\N	\N	\N	FREE_CANCELLATION	Free Cancellation
3	\N	\N	\N	\N	\N	NO_PREPAYMENT	No Prepayment Needed
4	\N	\N	\N	\N	\N	PAY_AT_PROPERTY	Pay at Property
\.


--
-- Data for Name: properties; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: property_amenities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.property_amenities (id, created_at, created_by, is_deleted, updated_at, updated_by, name) FROM stdin;
1	\N	\N	\N	\N	\N	Free Wi-Fi
2	\N	\N	\N	\N	\N	Swimming Pool
3	\N	\N	\N	\N	\N	Fitness Center
4	\N	\N	\N	\N	\N	Spa & Wellness
5	\N	\N	\N	\N	\N	Parking
6	\N	\N	\N	\N	\N	Restaurant
7	\N	\N	\N	\N	\N	Bar
8	\N	\N	\N	\N	\N	24-Hour Front Desk
9	\N	\N	\N	\N	\N	Room Service
10	\N	\N	\N	\N	\N	Airport Shuttle
\.


--
-- Data for Name: property_amenity_mappings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.property_amenity_mappings (property_id, amenity_id) FROM stdin;
3	1
3	2
3	3
3	6
3	7
3	8
4	1
4	2
4	4
4	5
4	9
4	10
\.


--
-- Data for Name: property_facilities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.property_facilities (id, created_at, created_by, is_deleted, updated_at, updated_by, name) FROM stdin;
1	\N	\N	\N	\N	\N	Conference Room
2	\N	\N	\N	\N	\N	Banquet Hall
3	\N	\N	\N	\N	\N	Business Center
4	\N	\N	\N	\N	\N	Kids Club
5	\N	\N	\N	\N	\N	Garden
6	\N	\N	\N	\N	\N	Terrace
7	\N	\N	\N	\N	\N	Elevator
8	\N	\N	\N	\N	\N	Wheelchair Accessible
\.


--
-- Data for Name: property_facility_mappings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.property_facility_mappings (property_id, facility_id) FROM stdin;
3	1
3	3
3	7
4	4
4	5
4	6
\.


--
-- Data for Name: rate_plan_perks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rate_plan_perks (rate_plan_id, perk_id) FROM stdin;
7	1
7	2
7	4
8	1
9	1
9	2
9	4
\.


--
-- Data for Name: rate_plans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: room_amenities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room_amenities (id, created_at, created_by, is_deleted, updated_at, updated_by, name) FROM stdin;
1	\N	\N	\N	\N	\N	Air Conditioning
2	\N	\N	\N	\N	\N	Flat-screen TV
3	\N	\N	\N	\N	\N	Minibar
4	\N	\N	\N	\N	\N	Safe
5	\N	\N	\N	\N	\N	Desk
6	\N	\N	\N	\N	\N	Ironing Facilities
7	\N	\N	\N	\N	\N	Hairdryer
8	\N	\N	\N	\N	\N	Slippers
9	\N	\N	\N	\N	\N	Bathrobe
10	\N	\N	\N	\N	\N	Coffee/Tea Maker
\.


--
-- Data for Name: room_facilities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room_facilities (id, created_at, created_by, is_deleted, updated_at, updated_by, name) FROM stdin;
1	\N	\N	\N	\N	\N	Private Bathroom
2	\N	\N	\N	\N	\N	Shower
3	\N	\N	\N	\N	\N	Bathtub
4	\N	\N	\N	\N	\N	Balcony
5	\N	\N	\N	\N	\N	City View
6	\N	\N	\N	\N	\N	Ocean View
7	\N	\N	\N	\N	\N	Soundproofing
8	\N	\N	\N	\N	\N	Free Toiletries
\.


--
-- Data for Name: room_inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: room_type_media; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: room_types; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: room_types_amenities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room_types_amenities (room_type_id, amenity_id) FROM stdin;
1	1
1	2
1	3
1	4
1	5
2	1
2	2
2	3
2	4
2	5
2	6
2	7
2	8
2	9
2	10
3	1
3	2
3	8
4	1
4	2
4	3
4	4
4	5
4	6
4	7
4	8
4	9
4	10
\.


--
-- Data for Name: room_types_facilities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room_types_facilities (room_type_id, facility_id) FROM stdin;
1	1
1	2
1	5
2	1
2	3
2	5
2	7
3	1
3	4
3	6
4	1
4	3
4	4
4	8
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wishlist_properties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wishlist_properties (id, created_at, created_by, is_deleted, updated_at, updated_by, property_id, wishlist_id) FROM stdin;
\.


--
-- Data for Name: wishlists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wishlists (id, created_at, created_by, is_deleted, updated_at, updated_by, user_id) FROM stdin;
\.


--
-- Name: booking_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.booking_items_id_seq', 1, false);


--
-- Name: bookings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bookings_id_seq', 1, false);


--
-- Name: cancellation_policies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cancellation_policies_id_seq', 1, false);


--
-- Name: cancellations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cancellations_id_seq', 1, false);


--
-- Name: check_ins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.check_ins_id_seq', 1, false);


--
-- Name: confirmation_token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.confirmation_token_id_seq', 1, false);


--
-- Name: inventory_hold_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_hold_details_id_seq', 1, false);


--
-- Name: inventory_holds_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_holds_id_seq', 1, false);


--
-- Name: media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.media_id_seq', 4, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payments_id_seq', 1, false);


--
-- Name: perks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.perks_id_seq', 4, true);


--
-- Name: properties_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.properties_id_seq', 4, true);


--
-- Name: property_amenities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.property_amenities_id_seq', 10, true);


--
-- Name: property_facilities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.property_facilities_id_seq', 8, true);


--
-- Name: rate_plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rate_plans_id_seq', 11, true);


--
-- Name: reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reviews_id_seq', 4, true);


--
-- Name: room_amenities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_amenities_id_seq', 10, true);


--
-- Name: room_facilities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_facilities_id_seq', 8, true);


--
-- Name: room_inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_inventory_id_seq', 24, true);


--
-- Name: room_type_media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_type_media_id_seq', 4, true);


--
-- Name: room_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_types_id_seq', 4, true);


--
-- Name: rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rooms_id_seq', 26, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- Name: wishlist_properties_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wishlist_properties_id_seq', 1, false);


--
-- Name: wishlists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wishlists_id_seq', 1, false);


--
-- Name: booking_items booking_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT booking_items_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: cancellation_policies cancellation_policies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cancellation_policies
    ADD CONSTRAINT cancellation_policies_pkey PRIMARY KEY (id);


--
-- Name: cancellations cancellations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cancellations
    ADD CONSTRAINT cancellations_pkey PRIMARY KEY (id);


--
-- Name: check_ins check_ins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.check_ins
    ADD CONSTRAINT check_ins_pkey PRIMARY KEY (id);


--
-- Name: checkin_room checkin_room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkin_room
    ADD CONSTRAINT checkin_room_pkey PRIMARY KEY (checkin_id, room_id);


--
-- Name: confirmation_token confirmation_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.confirmation_token
    ADD CONSTRAINT confirmation_token_pkey PRIMARY KEY (id);


--
-- Name: inventory_hold_details inventory_hold_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_hold_details
    ADD CONSTRAINT inventory_hold_details_pkey PRIMARY KEY (id);


--
-- Name: inventory_holds inventory_holds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_holds
    ADD CONSTRAINT inventory_holds_pkey PRIMARY KEY (id);


--
-- Name: media media_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: perks perks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perks
    ADD CONSTRAINT perks_pkey PRIMARY KEY (id);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (id);


--
-- Name: property_amenities property_amenities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_amenities
    ADD CONSTRAINT property_amenities_pkey PRIMARY KEY (id);


--
-- Name: property_amenity_mappings property_amenity_mappings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_amenity_mappings
    ADD CONSTRAINT property_amenity_mappings_pkey PRIMARY KEY (property_id, amenity_id);


--
-- Name: property_facilities property_facilities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_facilities
    ADD CONSTRAINT property_facilities_pkey PRIMARY KEY (id);


--
-- Name: property_facility_mappings property_facility_mappings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_facility_mappings
    ADD CONSTRAINT property_facility_mappings_pkey PRIMARY KEY (property_id, facility_id);


--
-- Name: rate_plan_perks rate_plan_perks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rate_plan_perks
    ADD CONSTRAINT rate_plan_perks_pkey PRIMARY KEY (rate_plan_id, perk_id);


--
-- Name: rate_plans rate_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rate_plans
    ADD CONSTRAINT rate_plans_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: room_amenities room_amenities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_amenities
    ADD CONSTRAINT room_amenities_pkey PRIMARY KEY (id);


--
-- Name: room_facilities room_facilities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_facilities
    ADD CONSTRAINT room_facilities_pkey PRIMARY KEY (id);


--
-- Name: room_inventory room_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_inventory
    ADD CONSTRAINT room_inventory_pkey PRIMARY KEY (id);


--
-- Name: room_type_media room_type_media_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_type_media
    ADD CONSTRAINT room_type_media_pkey PRIMARY KEY (id);


--
-- Name: room_types_amenities room_types_amenities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_types_amenities
    ADD CONSTRAINT room_types_amenities_pkey PRIMARY KEY (room_type_id, amenity_id);


--
-- Name: room_types_facilities room_types_facilities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_types_facilities
    ADD CONSTRAINT room_types_facilities_pkey PRIMARY KEY (room_type_id, facility_id);


--
-- Name: room_types room_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_types
    ADD CONSTRAINT room_types_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: payments uknuscjm6x127hkb15kcb8n56wo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT uknuscjm6x127hkb15kcb8n56wo UNIQUE (booking_id);


--
-- Name: cancellations ukt5knedn1afmsyv6y33okbige6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cancellations
    ADD CONSTRAINT ukt5knedn1afmsyv6y33okbige6 UNIQUE (booking_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wishlist_properties wishlist_properties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_properties
    ADD CONSTRAINT wishlist_properties_pkey PRIMARY KEY (id);


--
-- Name: wishlists wishlists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_pkey PRIMARY KEY (id);


--
-- Name: room_inventory fk2gfxdmx30uknhd71yypxpqa8f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_inventory
    ADD CONSTRAINT fk2gfxdmx30uknhd71yypxpqa8f FOREIGN KEY (room_type_id) REFERENCES public.room_types(id);


--
-- Name: wishlists fk330pyw2el06fn5g28ypyljt16; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT fk330pyw2el06fn5g28ypyljt16 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: booking_items fk3xbnjch13swrgjbpgl9gqakbr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT fk3xbnjch13swrgjbpgl9gqakbr FOREIGN KEY (room_type_id) REFERENCES public.room_types(id);


--
-- Name: rate_plan_perks fk4csq7im3ywbtmpb8y8vvqsyei; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rate_plan_perks
    ADD CONSTRAINT fk4csq7im3ywbtmpb8y8vvqsyei FOREIGN KEY (rate_plan_id) REFERENCES public.rate_plans(id);


--
-- Name: rate_plan_perks fk515p1htc87y0wcfiukbq8ecal; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rate_plan_perks
    ADD CONSTRAINT fk515p1htc87y0wcfiukbq8ecal FOREIGN KEY (perk_id) REFERENCES public.perks(id);


--
-- Name: media fk60v88g8779eiw65unegd3xyvb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT fk60v88g8779eiw65unegd3xyvb FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: reviews fk83j25x4ukm1vhf1336h1tt882; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT fk83j25x4ukm1vhf1336h1tt882 FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: wishlist_properties fk8ppj1qblbxdhkvbcvqht2ckt2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_properties
    ADD CONSTRAINT fk8ppj1qblbxdhkvbcvqht2ckt2 FOREIGN KEY (wishlist_id) REFERENCES public.wishlists(id);


--
-- Name: property_amenity_mappings fk9fue0fcaqblutgeaugl82oht4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_amenity_mappings
    ADD CONSTRAINT fk9fue0fcaqblutgeaugl82oht4 FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: room_types_amenities fk9fx6kqy1sf0wgannlmvwjb4ei; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_types_amenities
    ADD CONSTRAINT fk9fx6kqy1sf0wgannlmvwjb4ei FOREIGN KEY (room_type_id) REFERENCES public.room_types(id);


--
-- Name: confirmation_token fkah4p1rycwibwm6s9bsyeckq51; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.confirmation_token
    ADD CONSTRAINT fkah4p1rycwibwm6s9bsyeckq51 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: inventory_hold_details fkaqu33am64kmfmn0s5h8qubbt0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_hold_details
    ADD CONSTRAINT fkaqu33am64kmfmn0s5h8qubbt0 FOREIGN KEY (room_type_id) REFERENCES public.room_types(id);


--
-- Name: check_ins fkb1wxkcdltgdkk246gvtf4a162; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.check_ins
    ADD CONSTRAINT fkb1wxkcdltgdkk246gvtf4a162 FOREIGN KEY (booking_id) REFERENCES public.bookings(id);


--
-- Name: booking_items fkb831q23dxgt29pr92mhdoq8d0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT fkb831q23dxgt29pr92mhdoq8d0 FOREIGN KEY (rate_plan_id) REFERENCES public.rate_plans(id);


--
-- Name: payments fkc52o2b1jkxttngufqp3t7jr3h; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT fkc52o2b1jkxttngufqp3t7jr3h FOREIGN KEY (booking_id) REFERENCES public.bookings(id);


--
-- Name: property_facility_mappings fkc9600h2y51mexam6yrqujirdf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_facility_mappings
    ADD CONSTRAINT fkc9600h2y51mexam6yrqujirdf FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: reviews fkcgy7qjc1r99dp117y9en6lxye; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT fkcgy7qjc1r99dp117y9en6lxye FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: room_types fkdpd73l28cicvtoqw4p1o020v2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_types
    ADD CONSTRAINT fkdpd73l28cicvtoqw4p1o020v2 FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: bookings fkeyog2oic85xg7hsu2je2lx3s6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT fkeyog2oic85xg7hsu2je2lx3s6 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: rooms fkh9m2n1paq5hmd3u0klfl7wsfv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT fkh9m2n1paq5hmd3u0klfl7wsfv FOREIGN KEY (room_type_id) REFERENCES public.room_types(id);


--
-- Name: room_types_facilities fkj1w5kcbqqb38f866hle5w2s9l; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_types_facilities
    ADD CONSTRAINT fkj1w5kcbqqb38f866hle5w2s9l FOREIGN KEY (facility_id) REFERENCES public.room_facilities(id);


--
-- Name: rate_plans fkjl9ynvrp5b1ixpkvd79px7g02; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rate_plans
    ADD CONSTRAINT fkjl9ynvrp5b1ixpkvd79px7g02 FOREIGN KEY (cancellation_policy_id) REFERENCES public.cancellation_policies(id);


--
-- Name: property_amenity_mappings fkkat0psw8uyqw0du866cgimr27; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_amenity_mappings
    ADD CONSTRAINT fkkat0psw8uyqw0du866cgimr27 FOREIGN KEY (amenity_id) REFERENCES public.property_amenities(id);


--
-- Name: inventory_hold_details fkkgn8w4edd2lfn709io86yx3gs; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_hold_details
    ADD CONSTRAINT fkkgn8w4edd2lfn709io86yx3gs FOREIGN KEY (inventory_hold_id) REFERENCES public.inventory_holds(id);


--
-- Name: property_facility_mappings fkl82h2yj51bnicggxoafr26w62; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_facility_mappings
    ADD CONSTRAINT fkl82h2yj51bnicggxoafr26w62 FOREIGN KEY (facility_id) REFERENCES public.property_facilities(id);


--
-- Name: rate_plans fknxpiia562q498cho6f7y3ficl; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rate_plans
    ADD CONSTRAINT fknxpiia562q498cho6f7y3ficl FOREIGN KEY (room_type_id) REFERENCES public.room_types(id);


--
-- Name: checkin_room fko0dogmuqjmytwjppfwiqg2t8k; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkin_room
    ADD CONSTRAINT fko0dogmuqjmytwjppfwiqg2t8k FOREIGN KEY (checkin_id) REFERENCES public.check_ins(id);


--
-- Name: room_types_facilities fkqhcakjy7d01pjrnhqob1ltmbj; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_types_facilities
    ADD CONSTRAINT fkqhcakjy7d01pjrnhqob1ltmbj FOREIGN KEY (room_type_id) REFERENCES public.room_types(id);


--
-- Name: room_types_amenities fkqmo5gic4yhi288kq8r3nnx9yr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_types_amenities
    ADD CONSTRAINT fkqmo5gic4yhi288kq8r3nnx9yr FOREIGN KEY (amenity_id) REFERENCES public.room_amenities(id);


--
-- Name: wishlist_properties fkrs1x46usrn3px3c5eau03uqpv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_properties
    ADD CONSTRAINT fkrs1x46usrn3px3c5eau03uqpv FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: booking_items fkrw74irmyat5c39cnjkn02u99m; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT fkrw74irmyat5c39cnjkn02u99m FOREIGN KEY (booking_id) REFERENCES public.bookings(id);


--
-- Name: inventory_holds fks9glkeshnkc24ntlh3uf2tbo3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_holds
    ADD CONSTRAINT fks9glkeshnkc24ntlh3uf2tbo3 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: cancellations fksdt8qlt8xtvakjpyg80rhysav; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cancellations
    ADD CONSTRAINT fksdt8qlt8xtvakjpyg80rhysav FOREIGN KEY (booking_id) REFERENCES public.bookings(id);


--
-- Name: room_type_media fkt56k2bejbu0yok1aaasohwu3e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_type_media
    ADD CONSTRAINT fkt56k2bejbu0yok1aaasohwu3e FOREIGN KEY (room_type_id) REFERENCES public.room_types(id);


--
-- Name: checkin_room fktn27sh97a5wx2uoyl4ixrnic7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkin_room
    ADD CONSTRAINT fktn27sh97a5wx2uoyl4ixrnic7 FOREIGN KEY (room_id) REFERENCES public.rooms(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 8dAaxO5mu2dct0cGIHr4gXQmGycKtBgQWNhJHkcjDruHRfxTkaAuFx3jg1ufBIB

