name: Build & Deploy Production

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # -------------------
      # Build Backend
      # -------------------
      - name: Build backend image
        run: |
          docker build \
            -t ghcr.io/kaiettt/booking-backend:latest \
            ./Accomodation-Booking-OTA

      - name: Push backend image
        run: |
          docker push ghcr.io/kaiettt/booking-backend:latest

      # -------------------
      # Build Frontend
      # -------------------
      - name: Build frontend image
        run: |
          docker build \
            -t ghcr.io/kaiettt/booking-ui:latest \
            -f booking-ui/Dockerfile \
            ./booking-ui

      - name: Push frontend image
        run: |
          docker push ghcr.io/kaiettt/booking-ui:latest

      # -------------------
      # Deploy to VPS
      # -------------------
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            cd ~/booking-project/Booking-PlatForm-FullStack
            docker compose pull
            docker compose up -d