name: CI-CD WSL

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, linux, wsl]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build & Deploy with Docker Compose
        run: |
          docker compose down
          docker compose up -d --build
