name: CI-CD WSL

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, linux, x64]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          cat <<EOF > Accomodation-Booking-OTA/.env
          SPRING_DATASOURCE_USERNAME=${{ secrets.SPRING_DATASOURCE_USERNAME }}
          SPRING_DATASOURCE_PASSWORD=${{ secrets.SPRING_DATASOURCE_PASSWORD }}

          JWT_BASE64_SECRET=${{ secrets.JWT_BASE64_SECRET }}
          JWT_ACCESS_TOKEN_VALIDITY_IN_SECONDS=${{ secrets.JWT_ACCESS_TOKEN_VALIDITY_IN_SECONDS }}
          JWT_REFRESH_TOKEN_VALIDITY_IN_SECONDS=${{ secrets.JWT_REFRESH_TOKEN_VALIDITY_IN_SECONDS }}

          GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}

          SPRING_MAIL_USERNAME=${{ secrets.SPRING_MAIL_USERNAME }}
          SPRING_MAIL_PASSWORD=${{ secrets.SPRING_MAIL_PASSWORD }}

          VNPAY_TMN_CODE=${{ secrets.VNPAY_TMN_CODE }}
          VNPAY_HASH_SECRET=${{ secrets.VNPAY_HASH_SECRET }}
          EOF

      - name: Build & Deploy with Docker Compose
        run: |
          docker compose down
          docker compose up -d --build
